.mission {
  display: block;
  text-decoration: none;
  padding: 12px 24px;
  background-color: #126341;
  border: 1px solid rgba(white, 0.3);
  border-radius: 4px;
  margin-bottom: 12px;

  transition: all 0.06s ease-in-out;

  &:hover {
    border-color: rgba(white, 0.8);
  }

  .mission-title {
    display: block;
    font-size: 1.1em;
  }

  .mission-start {
    display: block;
    font-size: 0.9em;
  }
}

.squad-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  max-width: 100%;
}

.squad {
  margin-top: 24px;
}

.squad-list > .squad {
  flex-grow: 1;
  border: 3px solid rgba(white, 0.2);
  border-radius: 3px;
  padding: 10px;
  // padding-left: 20px;
  margin: 24px 12px 0;
  text-align: center;
}

.slots {
  display: block;
  min-width: 240px;
  max-width: 300px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.slot {
  border: 1px solid #404040;
  margin-bottom: -1px;
  font-size: 0.9em;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  & > * {
    flex: 1;
    text-align: center;
    padding: 4px;
  }

  .role {
    border-right: inherit;
    cursor: default;
  }

  .player {
    height: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
