/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require misc/normalize
 *= require_tree .
 *= require_self
 */

@import "layout/responsive";
@import "misc/remixicon";

html {
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
      Segoe UI, Helvetica Neue, Helvetica, Cantarell, Ubuntu, Roboto,
      Noto, Arial, sans-serif;
}

body {
  background-color: #0f4b32;
  color: white;
}

body > main {
  @include main-content-width(32px);
  background-color: #1c1c1c;
  padding-top: 12px;
  padding-bottom: 64px;
}

a:link, a:visited {
  color: white;
}

a:hover {
  color: #ffc107;
}

input[type="text"], input[type="number"] {
  background: black;
  border: 1px solid rgba(white, 0.6);
  border-radius: 2px;
  color: white;
  padding: 6px 8px;
  outline: none;

  &:focus {
    border: 1px solid white;
  }
}

h3 {
  margin-top: 16px;
  margin-bottom: 4px;
}

input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-top: 3px;
  background: rgba(red, 0.1);
  border: 1px solid rgba(white, 0.2);
  font-size: 16px;

  @include remixicon(check-fill);
  color: rgba(white, 0);

  transition: all 0.04s ease-in-out, background-color 0.1s ease-in-out;

  &:checked {
    background: rgba(lightgreen, 0.5);
    color: white;
    text-align: center;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: rgba(white, 0.7);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

label.pointer {
  cursor: pointer;
}

button, input[type="submit"] {
  background: #2f352f;
  border: 1px solid rgba(white, 0.2);
  border-radius: 2px;
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  transition: all 0.04s ease-in-out;

  &:hover:not(:disabled) {
    background: #3f4f3f;
    border-color: rgba(white, 0.6);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

select {
  position: relative;
  background: #2f352f; /* background applies to dropdown; bg image doesn't */
  background-image: linear-gradient(to right, #2f352f, #2f352f);
  border: 1px solid rgba(white, 0.2);
  border-radius: 2px;
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  transition: all 0.04s ease-in-out;

  &:hover:not(:disabled) {
    background-image: linear-gradient(to right, #3f4f3f, #3f4f3f);
    border-color: rgba(white, 0.6);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
