<div class="squad-list">
  <% for squad in squads %>
    <div class="squad">
      <strong class="name"><%= squad.name %></strong>

      <ul class="slots">
        <% for slot in squad.slots %>
          <li class="slot">
            <div class="role"><%= slot.name %></div>
            <div class="player"><%= slot.user&.display_name %></div>
          </li>
        <% end %>
      </ul>

      <%= render :partial => 'squads', :locals => { :squads => squad.children } if squad.children.any? %>
    </div>
  <% end %>
</div>
