<h1>Missions#index</h1>

<% if @missions.empty? %>
  <p>No missions found.</p>
<% else %>
  <ul>
    <% @missions.each do |mission| %>
    <li><%= link_to mission.title, mission %></li>
    <% end %>
  </ul>
<% end %>
