<h1>Missions</h1>

<% if policy(Mission).new? %>
  <%= link_to "New mission", new_mission_path %>
  <br /><br />
<% end %>

<% if @missions.empty? %>
  <p>No missions found.</p>
<% else %>
  <% @missions.each do |mission| %>
    <%= link_to mission, class: "mission" do %>
      <% if mission.draft? %>
        <span class="draft">Draft</span>
      <% elsif !mission.public? %>
        <span class="private">Early Signups</span>
      <% end %>

      <%= tag.span mission.title,
          class: "mission-title" %>

      <% if mission.start.nil? %>
        <span class="mission-start">Unplanned</span>
      <% else %>
        <%= tag.datetime mission.start.strftime("%A %d %B, %H:%M %Z"),
            datetime: mission.start.iso8601,
            class: "mission-start" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%#
  ideas for layout:

  This Sunday:
    [ MISSION ]

  Next Saturday:
    [ MISSION ]

  Next Sunday:
    [ MISSION ]

  - - -

  Archive:
    [ MISSION ]
    [ MISSION ]
    [ MISSION ]

  different templates for planned missions vs. past missions (focus on attendance vs focus on media)

  planned:
  | IMAGE   Operation Foo               27/32 |
  | IMAGE   Sunday 22:00 CEST                 |

  archive: (grid/gallery?)
  |   I M A G E    |
  |   I M A G E    |
  |                |
  |  Opeation Bar  |

%>
